:root {
    --primary-color: rgb(138, 195, 80);
    --secondary-color: rgb(210, 210, 210);
    --terciary-color: rgba(255, 255, 255, .2);
    --text-color: rgb(50, 50, 50);
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-header {
    background-color: var(--primary-color);
    padding: 0 2rem;
    height: 3rem;
    margin-top: -3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.content-header {
    padding: 3rem 0;
    background-image: linear-gradient(var(--primary-color), var(--primary-color), var(--primary-color), transparent);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-header-virus {
    font-size: 6rem;
}

.content-header-text {
    font-weight: bolder;
}

.logo {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    color: white;
}

.logo-strong {
    color: var(--text-color);
}

.warning {
    color: orange;
    font-size: 1.2rem;
}

.trending {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-section {
    margin: .5rem 0;
    background-color: white;
    overflow: hidden;
}

.on-the-rise {
    padding-bottom: 1rem;
    width: 45%;
    height: 138px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(21, 42, 0);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.on-the-rise-header {
    margin-bottom: 1rem;
    padding: .5rem 0;
    background-color: var(--primary-color);
    color: white;
}

.on-the-rise-content-desc {
    padding: .5rem;
}

.on-the-rise-type {
    font-size: 3rem;
}

.news-section {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: rgb(50, 50, 50);
}

.news-section-each {
    padding: 1rem;
    margin: .5rem 0;
    border-left: 5px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 5rem;
    overflow: hidden;
}

.news-title {
    font-weight: 800;
    margin-bottom: .5rem;
    color: var(--primary-color);
}

.news-descryption {
    white-space: normal;
    text-overflow: ellipsis;
    height: 3.5rem;
    font-size: .8rem;
    overflow: hidden;
}